.main {
/*    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;*/
}

.slider{
    grid-area: 1 / 1 / 2 / 2;
}
.form{
    grid-area: 2 / 1 / 3 / 2;
}